.machine{
    background-color: var(--foreground-color);
}
.machine__slide{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 15px;
    gap: 10px;
}
/* BREAKPOINTS */
/* For medium devices */
@media screen and (max-width: 576px) {
.machine__slide{
    grid-template-columns: repeat(1,1fr);
}
}


