.form__input{
    width: 95%;
    height: 95%;
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    align-items: center;
    padding: 1rem;
}
.form__input .form__list{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    row-gap: 1rem;
}
.form__list input{
    width: 90%;
    height: 2.25rem;
    border-radius: 8px;
    outline: none;
    text-align: center;
    transition: .5s;
    box-shadow: var(--box-shadow);
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0.808);
}
.form__list input::placeholder{
    color: black;
    font-size: var(--small-font-size);
}
.form__list input:focus{
    box-shadow: 1px 2px 8px var(--bg-color);
}
.form__list .btn__login{
    display: none;
}
.form__list input:nth-child(3),
.form__list input:nth-child(4){
    display: none;
}
.form__list.active__form input:nth-child(1),
.form__list.active__form input:nth-child(2),
.form__list.active__form input:nth-child(5),
.form__list.active__form input:nth-child(6),
.form__list.active__form .btn__signup
{
    display: none;
}
.form__list.active__form input:nth-child(3),
.form__list.active__form input:nth-child(4),
.form__list.active__form .btn__signup{
    display: flex;
}
.form__list.active__form .btn__login{
    display: flex;
}
.form__list.active__form .btn__signup{
    display: none;
}
.form__list .btn__signup,
.form__list .btn__login{
    position: relative;
    padding: 10px;
    border-radius: 14px;
    text-transform: capitalize;
    font-size: var(--small-font-size);
    box-shadow: var(--box-shadow);
    transition: .5s;
}
.form__list .btn__signup:hover,
.form__list .btn__login:hover{
    background-color: var(--bg-color);
    color: var(--primary-text-color);
}
.error{
    color: var(--primary-text-color);
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    padding: 3px;
    border-radius: 4px;
}


